@{
    ViewData["Title"] = "Home Page";
}

<style>
  
</style>


<div class="IndexDiv">    
    <p><h1 class="text-center font-weight-bolder">Stock Management System</h1></p>
    <div class="row m-2">

        <div class="col-4">
        </div>
        <div class="col-4">
            <img src="~/images/shopping-cart.gif" class="img-fluid" />
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
